demos/build

.vscode/

*.ignore
*.cmake
*.bin
*.xcscheme
*.plist
*.xcsettings
*.pbxproj
*.d
*.a
*.cxx
*.hmap
*.dat
*.check_cache
*.xcworkspacedata
*.xcuserstate
*.o
*.dia
*.LinkFileList
*.makeRelWithDebInfo
*.makeRelease
*.makeMinSizeRel
*.makeDebug
.DS_Store